<div class="jumbotron text-center">
  <h1>Run Silent</h1>
  <p class="lead">RunSilent</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<pre>

  Neil Wallace Applications Development Analyst - NHS HBL
  Stevenage neilbwallace@gmail.com - 07974137316
  WORK EXPERIENCE
  Applications Development Analyst NHS HBL - Welwyn Garden City - February 2009 to Present
  Variety of previous roles
  Achievements and responsibilities (include):
  • Developed and published two Healthcare apps in IOS / Windows and Android • Website and software development for Trust • NDL automation scripting screen scraping projects saving Trust costs on hiring temporary data entry staff • Successfully Introduced Continuing Care system into Trust (responsible for procurement, data migration, training and support • Database Analyst for various tasks using SQL Server R2008 • Business Change Analyst responsible for liaising with NHS sites to move them from paper records to SystemOne NHS system
  Senior Information Analyst East and North Herts Trust - Stevenage - August 2002 to February 2009
  Achievements and responsibilities:
  • Introduced Sollis Performance Management system into Luton PCT • Payment by results Analyst - Liaised with PCT management to analyse Trust data in order to find possible cost savings. Used Access, Excel and SQL queries to produce reports. • Development of Trust's Cancer Pathways Management system (Infoflex). The position involves liaising with clinicians and managers to design and implement new functionality for the system, rolling the changes out to users, user support, training, day to day maintenance and fulfilling routine statutory reporting. • Developing Accident & Emergency feed for Clearnet data submissions Developed letters macros for Medical Secretary letters to India • Orthopaedic Triage system encompassing data capture, report and letter generation and analysis • Developed Nurse and Consultant workload monitoring software • Developed Accident & Emergency 4 hr wait collection software
  Senior Technical Consultant Temenos - London - October 1998 to 2002
  Achievements and responsibilities:: • Worked in Software house on FXAT, the Bank of Tokyo-Mitsubishi's Financial Treasury system. System was written in Visual Basic 4/6 and Sybase. Reporting used crystal reports and Access. • High level of technical ability and understanding of the software development life cycle. Also worked in Client services supporting the system, this involved daily trouble shooting, dealing with new requests and on-site installations and upgrades.
  EDUCATION
  BSc in Physics, Chemistry, Biology, Neuroscience and Engineering Open University 2015
  Diploma in Russian Translation Institute of Linguists 2003
  MSC Aberdeen University 1998
  Postgraduate Diploma in Logic, Text & IT Dundee University 1996
  MA in English Literature Dundee University 1994
  MSc in Molecular Biology Open University
  ADDITIONAL INFORMATION
  Accomplished Mobile Application Developer who is able to create mobile applications for IOS, Windows and Android. Three published apps on each store. Adept at developing apps based on customer specifications, recommending application changes to make more efficient program and upgrading existing apps.
  Key Skills
  • 2 years Xamarin cross platform app experience • Experience of full app life cycle, from design to submission to the store • Many years Web and Software and development experience
  Published Apps (available for free download)
  • Hertfordshire Health Economy Antibiotics App - Uses SQLite as a formulary of antibiotic drugs Android https://play.google.com/store/apps/details?id=pharmacy.pharmacy&hl=en_GB IOS https://itunes.apple.com/us/app/hbl-antibiotics/id1156409574?mt=8
  • Mental Capacity Assessment App - Pathway driven app to assess patient's mental capacity Android: https://play.google.com/store/apps/details?id=pharm_dbb.Droid Windows Phone: https://www.microsoft.com/en-gb/store/p/mental-capacityassessments/9nblggh4t9t9 IOS: https://itunes.apple.com/gb/app/hbl-dols/id1144884535?mt=8
  • Mindwell Meditation App (in development)- Guided Meditations, Meditation Timer, Meditation diary using SQLite
  Android: https://play.google.com/store/apps/details?id=com.mindwell.dhamma2&hl=en_GB
  Technical Skills
  SQLite, SQL Server R2008 Development & SQL querying, SSAS, SSIS & SSRS. Advanced Excel 2010 & Access, Pivot Tables Reporting. Data warehousing skills - Cube development, Crystal reports, Visual Basic, VBA scripting. Sybase, MySQL and PHP
  Additional Qualifications
  PRINCE2 practitioner & foundation certificate, ISEB Business Analyst Practice Certificate Certificate in Management Accounting (Financial Accounting, Business Mathematics andEconomics).Certificate in Sybase, SQL Administration Certificates in advanced Access and EXCEL

</pre>
